.footer {
    background: $color-secondary;
    grid-column: full-start / full-end;
    padding: 8rem;

    
}


.nav {
    list-style: none;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    // as soon as it gets narrower than 20rem, one of the column tracks will disappear
    grid-gap: 2rem;
    align-items: center;

    &__link:link,
    &__link:visited {
        font-size: 1.4rem;
        color: white;
        text-decoration: none;
        font-family: $font-display;
        text-transform: uppercase;
        text-align: center;
        padding: 1.5rem;
        display: block;
        transition: all .4s;
    }

    &__link:hover,
    &__link:active {
        background: rgba(#fff, .05);
        transform: translateY(-3px);
    }
}

.copyright {
    font-size: 1.4rem;
    color: $color-grey-light-2;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 70vw;
}